html {
    background-color: #6699cc;

}

main {/*main page of the website (has the big three important elements in it)*/
    display: flex;
    justify-content: center;
    flex: 1 2 1;
    background-color: #6699cc;
  
}

.third { /* class that represents the big three boxes in main*/
    
}

.scrollingBox1 { /*main div where the scrolling box is*/
    /*display: flex;*/
    /*flex-direction: column; */
    height: 1000px;
    max-width: 40%;
    min-width: 30%;
    margin-top: 150px;
    /*margin-left: 50px;
    margin-right: 50px; */ 
    
    align-items: center;
    justify-content: center;
}

.userNav { /*left box that holds the multiple tabs for user info*/
    /*display: flex;
    flex-wrap: wrap;*/
    margin-top: 25px;
    margin-left: 25px; 
    /*width: 25%;*/
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #6699cc;
}

.explore,.userNav{
    border: solid #525252 2px;
    border-radius: 15px;
    font-family: 'verdana';
    height: 675px;
    
}

.userNavH2{
    padding-left: 20px;
}

li{
    margin-bottom: 10px;
    font-size: 20px;
    
}

.explore { /*right box that holds all the tabs for exploration of the site*/
    margin-top: 25px;
    margin-right: 25px;
    width: 25%;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #87b2dc;
    
}

.outside {
    background-color: #87b2dc;
}

/*.container {
    display: flex;
    flex-flow: row wrap;
    flex: 1 21%;
    
    
    align-items: center;
    justify-content: center; 
} */

.container>img{
    flex: 1 21%;
    margin: 10px;
}

h1 {
    margin: 20px;
}

